{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}File_sharing_django{% endblock title %}</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'file_sharing_app/image/favicon.png' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'file_sharing_app/css/base.css' %}" />

  {% block extrahead %}{% endblock extrahead %}
</head>

    <body>
        {% block content %}{% endblock content %}
    </body>
</html>
