{% extends "file_sharing_app/base.html" %}

{% block content %}
    <h1>Creator: {{ group.creator.username }}</h1>
    <h1>Group name: {{ group.name }}</h1>
    <h1>Date creation: {{ group.date_creation | timesince }}</h1>
    <h1>Last modification of the group: {{group.date_last_modification | timesince }}
    {% if group.members %}
    <h1>Member of the group:</h1>
        <ul>
        {% for member in group.members.all %}
            <li>{{ member.username }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No member.</p>
    {% endif %}
    {% if user.username == group.creator.username %}
    <h1>Add member</h1>
    <form action="{% url 'file_sharing_app:group_detail' group.id %}" method="post">
        {% csrf_token %}
        {{ group_add_member_form }}
        <input type="submit" name="group_add_member_submit" value="Submit" />
    </form>
    {% endif %}
    <h1>Files</h1>
    {% if group.groupfile_set %}
        <ul>
        {% for file in group.groupfile_set.all %}
            <li><a href="{{ file.url }}">{{ file.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No file.</p>
    {% endif %}
    <h1>Upload a file</h1>
    <form action="{% url 'file_sharing_app:group_detail' group.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ group_file_form }}
        <input type="submit" name="group_file_submit" value="Submit" />
    </form>
{% endblock content %}
